/* always declare html element first - it's the biggest */

html{

    background:#ffffff;
    box-sizing:border-box;
    font-size:10px;
    /*font-size : 0.75vw;*/
    line-height:1;
    height:100%;
    scroll-behavior:smooth;
    overflow-x:hidden;
    width:100%;
    padding: 0;
        margin: 0;


}


    /* This selects ALL elements. Add it AFTER the html selector */
    
    *{
    color:#333333;
    font-family:Helvetica,Arial,sans-serif;
    }

    .navbar{
        
        border:1px solid red;


    }

    .title{
        border:1px solid blue;


    }

    .navbar-inner{
        border:1px solid yellow;


    }