*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 20px;
}

.header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 215, 224);
    padding:10px 30px;
    border-radius: 30px;
}
    

.header .title {
    border: 1px solid blue;
    padding: 20px;
    margin: 20px;


}

.header .menu{
    border: 1px solid green;
    padding: 20px;
    margin: xasa20px;


}


